<head>
  <link href="/css/style.css" rel="stylesheet" />
</head>

<h1 class="center">Welcome <%= @username %>!</h1>


<div class="flex_row">



<form class="center card--button" action="/add_place"  method="get">
  <input class="button" type="submit" value="Add listing" />
</form>
<ul class="dropdown list pd">
<li class="dropdown_link"> Approvals </li>
 <% @places.each do |listing| %>
<% if @username == listing.user_name && listing.reservation_status == 'requested' %>
<li class="dropdown_approvals">  
<form class="approvals" action="/all/approve/<%= listing.id %>" method="post">
    <label for="approve"><%=listing.place %></label>
    <input type="submit" id="approve" value="Approve" />
  </form>
  </li>
  <% end %>
<% end %>
</ul>

</div>

<ul class="pd">
  <% @places.each do |listing| %>

      <li  <% if listing.reservation_status != 'reserved' %> class="list card" <% else%>  class="list card--disabled" <% end %> >
        <div class="card-inner">
         <h2><%= listing.place %></h2>
         <h3><%= listing.date_from %> - <%= listing.date_to %></h3>
          <p><%= listing.description %></p>
          <p>&#163;<%= listing.fixed_price %></p>
          <% if listing.reservation_status == ('requested') %>
             <p>Awaiting Approval</p>
              <% elsif listing.reservation_status != 'reserved' %>
              <form action="/all/reserve/<%= listing.id %>" method="get">
              <p><%=listing.reservation_status%></p>
              <input type="submit" value="Reserve" />
              <%else%>
              <p> Booked </p>
            </form>
          <% end %>
        </div>
      </li>
  <% end %>
</ul>
