<head>
  <link href="/css/style.css" rel="stylesheet" />
</head>

<h1 class="center">Welcome <%= @username %>!</h1>

<form class="center" action="/add_place"  method="get">
  <input type="submit" value="Add listing" />
</form>

<ul class="pd">
  <% @places.each do |listing| %>
    
      <li  <% if listing.reservation_status != 'reserved' %> class="list card" <% else%>  class="list card--disabled" <% end %> >
        <div class="card-inner">
         <h2><%= listing.place %></h2>
         <h3><%= listing.date_from %> - <%= listing.date_to %></h3>
          <p><%= listing.description %></p>
          <p>&#163;<%= listing.fixed_price %></h2></p>
          <% if listing.reservation_status != 'reserved' || 'requested' %>
            <form action="/all/reserve/<%= listing.id %>" method="get">
              <input type="submit" value="Reserve" />
              <input type="submit" value="Approve" />
              <% else %>
              <p> Booked </p>
            </form>
          <% end %>
        </div>
      </li>

  <% end %>
</ul>
